* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
}
.main {
    background-image: url("img/image1.jpg");
    height: 424px;
}

.box {
    background-color: black;
    height: 424px;
    width: 100%;
    opacity: 0.60;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 80vw;
    height: 72px;
}

nav svg {
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: sans-serif;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    height: 350px;
    gap: 20px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 28px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 16px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-size: 12px;
    text-align: center;
}
.separation{
    background-color: rgb(45, 42, 42);
    height: 4px;
    position: relative;
    z-index: 10;
}
.btn{
    padding: 2px 17px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.021);
    color:white;
    border:1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.btn-red{
    background-color: rgb(243, 36, 36);
    color: white;
    padding:10px 27px;
    border:1px solid red;
}
.btn-red-sm{
    background-color: rgb(243, 36, 36);
    color: white;
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:7px;
}
.main input{
    color: white;  
    padding: 7px 37px 8px 4px;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
}
.first{
    display: flex;
    justify-content: center;
    max-width:70vw;
    margin:auto;
    color: white;
    align-items: center;
}
@media screen and (max-width:800px) {
    .first{
        flex-wrap: wrap;
    }
}

.secimg{
    position: relative;
}
.secimg img{
    width: 350px;
    position: relative;
    z-index: 10;
    top:4px;
}

.secimg video{
    width: 320px;
    position: absolute;
    top:50px;
    right: 2px;
}

.first >div :nth-child(1){
    font-size: 36px;
    font-weight: bolder;
}

.third video
{
    width: 14vw;
    top: 26px;
    left: 65px;
    right: 0px;
}

.faq h2{
    text-align: center;
    font-size:42px;
}
.faq{
    background-color: black;
    color:white;
    padding:30px;
}
.faq svg{
    filter:invert(1)
}
.faqbox:hover{
    background-color: #414141;
    color:white;
}
.faqbox{
    font-size: 18px;
    padding:20px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    max-width:60vw;
    margin:20px auto;
    cursor:pointer;
}

footer{
    color:white;
    max-width: 60vw;
    margin:auto;
    padding:14px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
    max-width:60vw;
    margin:auto;
}

@media screen and (max-width:800px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        color:white;
        max-width:60vw;
        margin:auto;
    }
    
}

.footer-item{
    display: flex;
    flex-direction: column;
}
.footer a{
    color:white;
    font-size: 14px;
}
footer .question{
    padding: 34px 0px;

}


